<link href="/assets/styles.css" rel="stylesheet" type="text/css" />

<header class="header-area"></header>
<div class="navbar-area"></div>
<div class="container">
<nav class="site-navbar">
    <a href="/" class="site-logo">rsh</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <button class="nav-toggler">
        <span></span>
      </button>
</nav class="site-navbar">
</div>
</div>
</header>

<script type="text/javascript" src="/assets/nav.js"></script>
