<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <!-- <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding"> -->
        <title>Rollerskate Hub</title>
        <style>
            body{background: skyblue; font-family: verdana; color: #fff; padding: 30px}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>
        <!-- <link rel="stylesheet" type="text/css" href="/styles.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    </head>

    <body>
        <div class="logo">LOGO</div>
            <nav>
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Parks</a></li>
                    <li><a href="#">Inline Maintenance</a></li>
                    <li><a href="#">Roller Community</a></li>
                </ul>
            </nav>
            <div class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i>
            </div>  
        
            <%- include('partials/nav'); %> 
            <h1>Welcome to the contact page ejs</h1>
            <p>You won't find a website better anywhere else!</p>

        <!-- <script type="text/javascript" src="js/scripts.js"></script> -->
 
    </body>
</html>