<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Rollerskate Hub</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
            <%- include('partials/nav'); %> 
            <h1>Welcome to the contact page!</h1>
            <p>We love hearing from you!  Feel free to reach us any time of day by completing this form.  We will reply to your inquiry next business day.</p>
            <!-- <p><%= qs.person %></p> -->

            <div id=centerThings>
            <form id="contact-form" method="POST" action="/contact">
                <label for="who"><span class="required">*Who do you want to contact?</span></label>
                <input placeholder="inline expert member name" required type="text" name="who" value="<%= qs.person %>">
                <label for="department"><span class="required">*Which department?</span></label>
                <input placeholder="services, etc." required type="text" name="department" value="<%= qs.dept %>">
                <label for="email"><span class="required">*Enter your email here:</span></label>
                <input placeholder="name@email.com" required type="email" name="email" />
                <button type="submit" name="submit">Submit</button>
            </form>
            </div>


        <!-- <script type="text/javascript" src="js/scripts.js"></script> -->
 
    </body>
</html>