<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Rollerskate Hub</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        
            <%- include('partials/nav'); %> 
            <h1>Thanks for getting in touch!</h1>
            <p>We have received your message:</p>
            <p>You contacted <%= data.who %> in the <%= data.department %> department</p>
            <p>We will reply to you next business day at <%= data.email %></p>



        <!-- <script type="text/javascript" src="js/scripts.js"></script> -->
 
    </body>
</html>