<!DOCTYPE html>
<html>
    <head>
        <title>Rollerskate Hub</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script type="text/javascript" src="/assets/todo-list.js"></script>
        <script type="text/javascript" src="/assets/manual.js"></script>

    </head>

    <body>
        <%- include('partials/nav'); %>

        <h1>Welcome to the most awesome website on the net (index on ejs)</h1>
        <p>You won't find a website better anywhere else!</p>

        <%- include('partials/firstEJSTemplate'); %>

        <img src="/assets/liners.jpg" />


        <h1>Maintenance Guide:</h1>
        <select name="cmbitems" onchange="selectValue(this)" id="cmbitems" id="txtprice" class="selectbox"></select>
        <img id="imageId" alt="Manual Image" style="width:304px; height:288px; display: block; margin-left: 20px;" src='/assets/liners.jpg'>
        <textarea type="text" name="txtprice" id="txtprice" class="textbox" onClick="checkPrice()"></textarea>


        <!-- https://github.com/bartekus/todo-js-basic/blob/master/index.html -->

        <h1>Skate Adventure List:</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item ..." required />
                <button type="submit">Add Item</button>
            </form>    
            <ul>
                <% for(var i=0; i < todos.length; i++){ %>
                    <li><%= todos[i].item %></li>
                <% } %>            
            </ul>
        </div>

        <h1>Your Next Skating Adventure Awaits:</h1>
        <div>
        <form class="input" action="#" method="post">
            <div id="park-list">
            <input type="text" name="zip" value="ZIP Code" id="zip" maxlength="5" autocomplete="off">
            <br>
            <br>
            <select class="radius" id="radius">
                <option value="default" disabled selected>Radius to search</option>
                    <option value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="15">15 miles</option>
                    <option value="20">20 miles</option>
        </select>
        <br>
        <br>
            <button id="submit" type="button" name="button">Submit</button>
            </div>
        </form>

            <div>
                <h1 id="searchResults"></h1>
            </div>

            <div id="found"></div>
            <div id="results"></div>

        
         
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/scripts.js"></script>
        <script type="text/javascript" src="/assets/manual.js"></script>

    </body>
    <!-- <footer id="footer-class">
        <%- include('partials/footer'); %>
    </footer> -->
</html>